node_modules
.env
uploads/*
!uploads/.gitkeep
imageUploads/*
!imageUploads/.gitkeep
!imageUploads/Photo-de-cottonbro-studio.jpg
!imageUploads/Photo-2-de-cottonbro-studio.jpg
!uploads/afrobeat-afro-beat-439622.mp3
!uploads/easy-travel_outro-332844.mp3
!uploads/for-her-chill-upbeat-summel-travel-vlog-and-ig-music-royalty-free-use-202298.mp3
!uploads/piano-classical-music-347514.mp3
!uploads/Veneno-Lento.House-background-music-for-vlog-video-stories.mp3